In [1]:
!pip install mysql-connector-python
from mysql import connector
from getpass import getpass
import pandas as pd
import PySimpleGUI as sg

Requirement already satisfied: mysql-connector-python in c:\users\n l aditya patel\anaconda3\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\n l aditya patel\anaconda3\lib\site-packages (from mysql-connector-python) (3.15.5)
Requirement already satisfied: six>=1.9 in c:\users\n l aditya patel\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
mysql_con = connector.connect(host="localhost", user = "root", password = "2002020")
print("Mysql Connection: ", mysql_con)

Mysql Connection:  <mysql.connector.connection_cext.CMySQLConnection object at 0x000001AED269B9A0>

In [3]:
def query_sakila(query):
    db = "use sakila;"
    with connector.connect(
        host = "localhost", 
        user = "root", 
        password = "2002020") as mysqlcon:
        print(mysqlcon)
        cur = mysqlcon.cursor()
        print(cur)
        cur.execute(db)
        cur.execute(query)
        df1 = pd.DataFrame(cur.fetchall())
        print(df1)

In [4]:
def user_query():
    layout = [ 
    [sg.Text('Enter the name of the Database and the Query')], 
    [sg.Text('Database', size =(15, 1)), sg.InputText()], 
    [sg.Text('Query', size =(15, 1)), sg.InputText()], 
    [sg.Submit(), sg.Cancel()]] 
  
    window = sg.Window('User Input MYSQL Query', layout) 
    event, values = window.read() 
    window.close() 
    
  
    db = "use" + " " + values[0] + ";"
    query = values[1] + ";"    
    with connector.connect(
        host = "localhost", 
        user = "root", 
        password = "2002020") as mysqlcon:
        print(mysqlcon)
        cur = mysqlcon.cursor()
        print(cur)
        cur.execute(db)
        cur.execute(query)
        df1 = pd.DataFrame(cur.fetchall())
        print(df1)

## Sakila Query Function

In [5]:
def sakila_query():  
    
    sg.theme("LightGreen2")
    title="Queries from Sakila"
    
    layout=[[sg.Text("Names of all English Movies", size=(30,2)), 
                sg.Button("Query", key="sakila1",size=(10,2)), 
                sg.Text("Display the First name and Last name of all actors", size=(30,2)), 
                sg.Button("Query", key="sakila2",size=(10,2))], 
    [sg.Text("Display Each Film and the number of actors in that film", size=(30,2)), 
                 sg.Button("Query", key="sakila3",size=(10,2)), 
                 sg.Text("Find all the actors whose last names contains the word 'Gen'", size=(30,2)), 
                 sg.Button("Query", key="sakila4",size=(10,2))],
    [sg.Text("List the names of actors, and how many actors have that name", size=(30,2)), 
                 sg.Button("Query", key="sakila5",size=(10,2)), 
                 sg.Text("Display the first and the last names in a single column; name the column: 'Actor Name'", size=(30,2)), 
                 sg.Button("Query", key="sakila6",size=(10,2))]]

    window=sg.Window(title,layout)
    
    while True:
        event,value=window.read()
                
        if event == "sakila1":
            query = "select film.title from film inner join language where film.language_id = language.language_id and language.name = 'English';"
            query_sakila(query)
        
        if event == "sakila2":
            query = "select actor.first_name, actor.last_name from actor;"
            query_sakila(query)
        
        if event == "sakila3":
            query = "select film.title, count(film_actor.actor_id) from film inner join film_actor on film.film_id = film_actor.film_id group by film.title;"
            query_sakila(query)
        
        if event == "sakila4":
            query = "select * from sakila.actor where last_name like '%Gen%';"
            query_sakila(query)
        
        if event == "sakila5":
            query = "select last_name, count(*) Count from sakila.actor group by last_name order by Count desc;"
            query_sakila(query)
         
        if event == "sakila6":
            query = "select concat(first_name, ' ', last_name) as 'Actor Name' from sakila.actor;"
            query_sakila(query)
            
        if event=="Apply":
                      
            window.close()

        if  event == sg.WIN_CLOSED:
            break
    window.close()

In [6]:
title="MYSQL "
sg.theme("LightGreen1")
title="MYSQL QUERIES"    
layout = [sg.Text(size=(1,1)), sg.Text("Click the Query Button")],[sg.Text(size=(0,1)), sg.Button("Sakila Queries", key="sakila", size=(20,3))] 

window=sg.Window(title,layout)
    
while True:
    event,value=window.read()   

    if event == "sakila":
        sakila_query()
    
    if event == sg.WIN_CLOSED:
        break
        
window.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AED4F09700>
CMySQLCursor: (Nothing executed yet)
                     0
0     ACADEMY DINOSAUR
1       ACE GOLDFINGER
2     ADAPTATION HOLES
3     AFFAIR PREJUDICE
4          AFRICAN EGG
..                 ...
995     YOUNG LANGUAGE
996         YOUTH KICK
997       ZHIVAGO CORE
998  ZOOLANDER FICTION
999          ZORRO ARK

[1000 rows x 1 columns]
<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AED4F09700>
CMySQLCursor: (Nothing executed yet)
            0             1
0    PENELOPE       GUINESS
1        NICK      WAHLBERG
2          ED         CHASE
3    JENNIFER         DAVIS
4      JOHNNY  LOLLOBRIGIDA
..        ...           ...
195      BELA        WALKEN
196     REESE          WEST
197      MARY        KEITEL
198     JULIA       FAWCETT
199     THORA        TEMPLE

[200 rows x 2 columns]
<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AED4F09700>
CMySQLCursor: (Nothing executed yet)
                     0   1
0     ACADEMY DINOSAUR  10
1       ACE GOLDFINGER   4
2     ADAPTATION HOLES   5
3     AFFAIR PREJUDICE   5
4          AFRICAN EGG   5
..                 ...  ..
992     YOUNG LANGUAGE   5
993         YOUTH KICK   5
994       ZHIVAGO CORE   6
995  ZOOLANDER FICTION   5
996          ZORRO ARK   3

[997 rows x 2 columns]

In [7]:
layout = [ 
    [sg.Text('Enter the name of the Database and the Query')], 
    [sg.Text('Database', size =(15, 1)), sg.InputText()], 
    [sg.Text('Query', size =(15, 1)), sg.InputText()], 
    [sg.Submit(), sg.Cancel()]] 
  
window = sg.Window('User Input Window', layout) 
event, values = window.read() 
window.close() 
  
db = "use" + " " + values[0] + ";"
query = values[1]    
with connector.connect(
        host = "localhost", 
        user = "root", 
        password = "2002020") as mysqlcon:
        print(mysqlcon)
        cur = mysqlcon.cursor()
        print(cur)
        cur.execute(db)
        cur.execute(query)
        df1 = pd.DataFrame(cur.fetchall())
        print(df1)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AED269B940>
CMySQLCursor: (Nothing executed yet)
                       0
0       PENELOPE GUINESS
1          NICK WAHLBERG
2               ED CHASE
3         JENNIFER DAVIS
4    JOHNNY LOLLOBRIGIDA
..                   ...
195          BELA WALKEN
196           REESE WEST
197          MARY KEITEL
198        JULIA FAWCETT
199         THORA TEMPLE

[200 rows x 1 columns]